<!DOCTYPE html>
<html class="h-100" lang="en"> {# h-100 needed for correct footer placement - see https://getbootstrap.com/docs/4.4/examples/sticky-footer-navbar/ #}
    <head>
        {% block title %}
            <title>{{ title }}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block styles %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
    </head>

    <body class="d-flex flex-column h-100"> {# classes needed for correct footer placement #}
        <header>
            {% block navbar %}
                {{ nav.top.render(renderer='bootstrap') }}
            {% endblock %}
        </header>

        <main class="flex-shrink-0 mt-5" role="main"> {# flex-shrink-0 needed for correct footer placement #}
            <div class="container my-4"></div> <!-- for padding -->
            {% with messages = get_flashed_messages(with_categories=True), transform = {
                'critical': 'danger',
                'error':    'danger',
                'warning':  'warning',
                'info':     'info',
                'message':  'info',
                'debug':    'info',
                'notset':   'info',
            } %}
                {% if messages %} {# don't output anything if there are no messages #}
                    <div class="container-fluid flashed-messages">
                        <div class="row">
                            <div class="col-md-12">
                                {% for cat, msg in messages %}
                                    <div class="alert alert-{{transform.get(cat.lower(), default_category or cat)}}" role="alert">
                                        {{msg}}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </main>

        <footer class="mt-3 py-2 bg-light">
            <div class="container d-flex justify-content-center">
                <span class="text-muted text-center">Source code on <a href="https://github.com/mvforell/python-fileserver">GitHub</a> <br> Copyright © 2020 Max von Forell</span>
            </div>
        </footer>

        {% block scripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>