{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <h3>Available files</h3>

        {% if file_list|length > 0 %}
            <table class="table table-bordered table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Filename</th>
                        <th>Uploaded</th>
                        <th>Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in file_list %}
                        <tr>
                            <td><a href="/{{ file[0] }}">{{ file[1] }}</a></td>
                            <td>{{ file[2] }}</td>
                            {% if file[3] > 1024 * 1024 %}
                                <td>{{ file[3] // (1024 * 1024) }}MB</td>
                            {% else %}
                                <td>{{ file[3] // 1024 }}kB</td>
                            {% endif %}
                            <td>
                                <button type="button" class="btn btn-danger" onclick="confirmDelete('{{ file[0] }}')">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>
                There are currently no files available.
            </p>
        {% endif %}

        {{ super() }}
    </div>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		function confirmDelete(file_id) {
			if (confirm("Really delete file?")) {
				window.location.href = "/admin/delete/" + file_id;
			}
		}
	</script>

    {{ super() }}
{% endblock %}