{% extends "bootstrap/base.html" %}
{% import "bootstrap/utils.html" as utils %}

{% block navbar %}
	{{ nav.top.render() }}
	{{ utils.flashed_messages() }}
{% endblock %}

{% block content %}
	<div class="container">
		<h2>Sign In</h2>
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.username.label }}<br>
				{{ form.username(size=32) }}
				{% for error in form.username.errors %}
				<span style="color: red;">[{{ error}}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.password.label }}<br>
				{{ form.password(size=32) }}
				{% for error in form.password.errors %}
				<span style="color: red;">[{{ error}}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
	</div>
{% endblock %}
