{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		{% if file_id is defined %}
            <p class="mb-3">
                The newly uploaded file can now be downloaded from <a href="/{{ file_id }}">here</a>.
            </p>
		{% endif %}

		<h3>Upload new file</h3>

        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" class="form-control-file" name="file"/>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </div>
        </form>
    </div>

    {{ super() }}
{% endblock %}
